<app-navbar></app-navbar>

<h2 class="head">Assigned Tasks</h2>
<div class="container">
    
 <div class="content">
    <div class="task-form">
        <h2>Assign Task</h2>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Task Title">
        <div class="date-container">
        <input type="date" />
        <input type="date" />
        </div>
        <textarea placeholder="Task description"></textarea>
        
        <button class="update-button">Update</button>
        
    </div>

    <div class="task-table-wrapper">
        <table class="task-table">
            <tr>
                <th>Name</th>
                <th>Task Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Task Description</th>   
            </tr>
        </table>
    </div>
 </div> 
</div>
<router-outlet></router-outlet>