<app-navbar></app-navbar>
<div class="form-container">
  <form class="intern-form">
      <div class="form-column">
          <label>Intern Name</label>
          <input type="text" placeholder="Enter Intern Name">

          <label>Email</label>
          <input type="email" placeholder="Enter Email">

          <label>Duration</label>
          <input type="text" placeholder="Enter Duration">

          <label>WhatsApp Number</label>
          <input type="text" placeholder="Enter WhatsApp Number">

          <label>Passed Out Year</label>
          <input type="text" placeholder="Enter Passed Out Year">

          <label>Department</label>
          <input type="text" placeholder="Enter Department">
          <div>
            <button class="save-button">Save</button>
        </div>
          
      </div>

      <div class="form-column">
          <label>Password</label>
          <input type="password" placeholder="Enter Password">

          <label>Domain</label>
          <input type="text" placeholder="Enter Domain">

          <label>Date of Birth</label>
          <input type="date" placeholder="dd-mm-yy">

          <label>College Name</label>
          <input type="text" placeholder="Enter College Name">

          <label>Degree</label>
          <input type="text" placeholder="Enter Degree">

          <label>Mode of Internship</label>
          <input type="text" placeholder="Enter Mode of Internship">
      </div>
  </form>
  
  
</div>
<router-outlet></router-outlet>

  
  